header{
    background: green;
}
body{
    background-color: lightgrey;
}
main{
    margin: 100px;
    text-align: center;
}
image{
    float: left;
}
h1{
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}
h2{
    clear: both;
    margin-top: 0px;
    text-align: left;
    margin-left: 20%;
}
input{
    width: 200px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
}
/*input:hover{*/
/*    background-color: greenyellow;*/
/*    font-size: x-large;*/
/*}*/
button {
    width: 200px;
    height: 50px;

    margin: 20px;
}
tr{
    width: 100%;
}
textarea{
    width: 60%;
    overflow-y: auto;
    max-height: 400px;
    height: 100px;
    margin-top: 0px;
    margin-left: calc(18%);
}
table{
    width: 100%;
    border-color: black;
    border-collapse: collapse;
    border-style: double;
    background-color: white;
    max-height: 400px;
    overflow: scroll;
}
footer{
    background-color: green;
}
#View{
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 0px;
}
#Welkom {
    text-align: center;
    width: 100%;
    margin-top: 0px;
}

#floatRight{
    float: right;
    display: block;
    margin-left: 5px;
}
#OpenDirectory{
    width: 800px;
}
#messageBox{
    max-width: 70%;
    background-color: aquamarine;
    border-radius: 25%;
    text-align: center;
    float: right;
    font-size: large;
    padding: 15px;
}
#messsageBoxRecieved{
    max-width: 70%;
    background-color: lightgrey;
    border-radius: 25%;
    float: left;
    font-size: large;
    padding: 15px;
}
#Back{
    width: 200px;
    height: 50px;
    border-radius: 50%;
    float: right;
    clear: both;
    margin-top: -75px;
    margin-right: 75px;
}

#Back:hover{
    background-color: red;
    font-size: small;
}
#right{
    float: right;
    display: block;
}
#OpenDirectory{

}

    table{width: 100%; margin: 0px}
    textarea{width: 100%; margin: 0px}
    #View{margin: 0; width: 100% }
    input{margin-left: 5%;margin-right: 5%}
    #floatRight{float: none}
