body{

    background-color: lightgrey;
}
image{
    float: left;
}
h1{
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}
#Welkom{
    text-align: center;
    width: 100%;
    margin-top: 0px;
}
header{
    background: green;
}
main{
    margin: 100px;
    text-align: center;
}
input{
    width: 200px;
}
button {
    width: 100px;
    height: 75px;
    border-radius: 100%;
    margin: 20px;
}
footer{
    background-color: green;
}
#View{
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 0px;
}
input {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
textarea{
    width: 60%;

    min-height: 100px;
    margin-top: 0px;
}
input:hover{
    background-color: greenyellow;
    font-size: x-large;
}
#Delete:hover{
    background-color: red;
    font-size: x-large;
}
table{
    width: 100%;
    border-color: black;
    border-collapse: collapse;
    border-style: double;
    background-color: white;
}
tr{
    width: 100%;
}
h2{
    margin-top: 0px;
    text-align: left;
    margin-left: 20%;
}
#messageBox{
    max-width: 70%;
    background-color: aquamarine;
    border-radius: 25%;
    text-align: center;
    float: right;
    font-size: large;
    padding: 15px;
}
#messsageBoxRecieved{
    max-width: 70%;
    background-color: lightgrey;
    border-radius: 25%;
    float: left;
    font-size: large;
    padding: 15px;
}
#Back{
    width: 200px;
    height: 50px;
    border-radius: 50%;
    float: right;
    clear: both;
    margin-top: -75px;
    margin-right: 75px;
}

#Back:hover{
    background-color: red;
    font-size: small;
}